cmake-build*
.directory
po/POTFILES.in.test
temp
tmp
master.zip
build-eclipse/
build-eclipse-acceptance/
build-test/
build-implementation/

build-android/
build-android-boundaries/
ci/__pycache__/
build-desktop/
artifacts/
.android-ci/
retained-artifacts/
eclipse/data/de440s.bsp
eclipse/data/moon_pa_de440_200625.bpc
eclipse/data/lola64-pa.bin
